# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: fea553f3de7df604d6beb0932cfa8a4e7a9f0aaec98ede5544f0adc581baf443938d9f7fbc71806c21390a2f30b89b283da822642da5ab30fc262ee842c06323

test:
  secret_key_base: d3194c62b6560a7b1459a55f67c19b8a6c275be299ba1e7af4ae7ed7b4bf3eaf15e26ae4ac23436271824e5a402aef9842312dc82e6b37c4caa58ddde26b960b

staging:
  secret_key_base: KupheiNgaf9ee6kai3aeP2Jupaaxoo1ih9on9Thae4aepeiHeiyeiNahliePhi8eiT9aiHohvae6lieWi2Thiu3ha9Fahquofai4Taez9xi9dahs1ohPohsieteiQuai

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: ahc7aiThahreePib2exeecai4au6Oosooc4piechoh3eij0ee8iec7AijaunooBohpaejeeroh9Ohquaepiephotee5kutiez0ail7iwien8pheulai9ezeLaingahsh
